body {
    background-color: #1b1f27;
    font-family: Arial, Helvetica, sans-serif;
}

.area-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.login {
    flex-direction: column;
    align-items: center;
    background-color: #181920;
    border-radius: 10px;
    width: 500px;
    height: 300px;
    padding: 35px
}

.login form {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.login input {
    margin-top: 10px;
    background-color: #252A34;
    padding-left: 10px;
    color: aliceblue;
    border: none;
    height: 50px;
    outline: none;
    border-radius: 5px;
    display: flex;
}

.login img {
    width: 200px;
    height: auto;
}

.input::placeholder {
    color: aliceblue;
    font-size: 14px;
}

form [type="button"] {
    display: block;
    background-color: rgba(8, 100, 206, 0.9);
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

p {
    color: aliceblue;
}

a {
    color: rgba(8, 100, 206, 0.9);
    text-decoration: none;
    margin-left: 10px;
}