body {
    background-color: #1b1f27;
    font-family: Arial, Helvetica, sans-serif;
}

.esquerda {
    margin-right: 138px;
}

.esquerdabaixo {
    margin-right: 138px;
}

.area-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

input[type="radio"] {
    background-color: aliceblue;
}

.quebra {
    display: flex;
    margin-right: 100px;
}

input[type="radio"] {
    border: 2px solid black;
    background-color: white;
    padding: 10px;
    margin-right: 10px;
}

#line {
    margin-block-end: 4px;
}

.tytlegenero {
    color: white;
    margin-top: 15px;
    margin-block-end: 10px;
    display: flex;
}

.login {
    flex-direction: column;
    align-items: center;
    background-color: #181920;
    border-radius: 10px;
    width: 500px;
    height: 800px;
    padding: 35px
}

.esquerdo {
    margin-right: 5px;
}

.endereco {
    display: flex;
}

.login form {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.login input {
    margin-top: 10px;
    background-color: #252A34;
    padding-left: 10px;
    color: aliceblue;
    border: none;
    height: 33px;
    outline: none;
    border-radius: 5px;
    display: flex;
}

.login img {
    width: 200px;
    height: auto;
}

.input::placeholder {
    color: aliceblue;
    font-size: 14px;
}

form [type="button"] {
    display: block;
    background-color: rgba(8, 100, 206, 0.9);
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

select {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #252A34;
    border: none;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
}

p {
    color: aliceblue;
}

a {
    color: rgba(8, 100, 206, 0.9);
    text-decoration: none;
    margin-left: 10px;
}